
@{
    ViewBag.Title = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


@model List<DTO.UserDTO>
<section class="content-header">

    <h1>User List</h1>
    <ol class=" breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>User</a></li>
        <li class="breadcrumb-item active"><a>User List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/User/AddUser'">Add User</button>
</div>


<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>

                    <tr id="a_@item.ID">
                        <td>@item.Name</td>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            <img src="~/Areas/Admin/Content/UserImage/@item.Imagepath" width="60" height="40" />

                        </td>
                        <td align="center" valign="middle">
                            <a href="/Admin/User/UpdateUser/@item.ID">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/updates-16.ico" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/delete-16.ico" onclick="AskQuestion('/Admin/User/DeleteUser/',@item.ID)" />
                            </a>
                        </td>

                    </tr>

                </tbody>

            }

            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->